.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  margin: 0;
  background: no-repeat url(img/mainImg.png);
  width: 100%;
  height: 839px;
  background-size: cover;
}

.menu {
  padding: 70px 100px 0 550px;



}

.menu__item{

  font: 900 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color:rgb(255,255,255);
  margin: 0 30px;
  text-decoration: none;
}

.main__title{
  margin: 0;
  font: 900 40px/47px 'Roboto', arial, helvetica, sans-serif;
  color: rgb(255,255,255);
  margin-bottom: 11px;
  padding-left: 955px;
  padding-right: 130px;
  padding-top: 132px;

}

.main__subtitle{
  padding-left: 1027px;
  font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
  color: rgb(255,255,255);
  margin: 0;
  padding-right: 130px;
}

.main__subtitle-2{
  padding-left: 1107px;
  font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
  color: rgb(255,255,255);
  margin: 0;
  margin-bottom: 39px;
  padding-right: 130px;
}
.main__button{
  margin-left: 1100px;
  margin-right: 130px;
  display: inline-block;
  font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
  color: rgb(255,255,255);
  background: #E0036F;
  padding: 16px 66px;
  border: none;
}

.middle{
  width: 1440px;
  height: 397px;
  background-color: rgb(227,234,254,1);
}

.middle__title{
  margin: 0;
  padding-top: 55px;
  font: 900 30px/35px 'Roboto', arial, helvetica, sans-serif;
  text-align: center;

}

.middle__price{
  padding-top: 10px;
  padding-bottom: 3px;
  font: 900 30px/35px 'Roboto', arial, helvetica, sans-serif;
  color: rgb(38,59,131,1);
  text-align: center;

}

.middle__button{
  margin: 0 620px;
  margin-bottom: 18px;
  justify-content: center;
  width: 200px;
  height: 55px;
  font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
  color: rgb(0,0,0,1);
  background: #FFDA45;
  box-shadow: 5px 5px 20px;
  border: none;
}

.middle__book{
  font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
  color: rgb(88,88,88,1);
  margin: 0 647px 13px;
  text-decoration: none;
  transition: color .2s linear;
  position: relative;
}

.middle__book:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgba(255, 218, 69, 1);
  position: absolute;
  top: 100%;
  margin: 13px auto 0;
  left: 0;
  z-index: 1;
}

.participant{
  margin: 0;
  width: 1440px;
  height: 327px;
  background-color: rgb(64,93,187,1);

  display: flex;
  justify-content: space-between;

}

.participant__image{
  width: 464px;
  height: 327px;
  padding: 0 43px;
}

.participant__text{
  margin-left: 130px;
  margin-top: 118px;
  color: rgb(255,255,255);
}

.participant__text_title{
  font: 900 30px/35px 'Roboto', arial, helvetica, sans-serif;
  margin-bottom: 20px;
}


}
.participant__text_subtitle {
  margin: 0;
  font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;

}

.participant__button{
  justify-content: center;
  width: 200px;
  height: 55px;
  margin-top: 136px;
  margin-right: 130px;
  margin-bottom: 136px;
  font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
  color: rgb(0,0,0,1);
  background: #FFDA45;
  box-shadow: 5px 5px 20px;
  border: none;
}

.speakers {
  margin: 0;
  width: 100%;
  height: 952px;
  background-color: rgba(227, 234, 254, 1);
}

.speakers__title {
  margin: 0;
  padding-top: 89px;
  padding-bottom: 78px;
  font: 900 30px/35px 'Roboto', arial, helvetica, sans-serif;
  text-align: center;
  color: rgba(88, 88, 88, 1);
}

.speakers__images {
  width: 1180px;
  height: 625px;
  display: flex;
  justify-content: space-between;
}


}
.speakers__image {
  width: 322px;
  height: 280px;

}

.footer {
  margin: 0;
  width: 1440px;
  height: 250px;
  background-color: rgb(14,30,113,1);
  display: flex;
}

.address {
  display: flex;

}

.mesto {
  margin: 0;
  font: 900 18px/21px 'Roboto', arial, helvetica, sans-serif;
  padding-top: 49px;
  color: rgb(225,230,233,1);
}

.location {
  margin: 0;
  padding-top: 49px;
  padding-left: 134px;
  padding-right: 7px;
}

.phone {
  justify-content: space-between;
  margin: 0;
  padding-top: 48px;
  padding-left: 708px;
  font: 900 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: rgb(225,230,233,1);
}
.uphone {
  margin: 0;
  padding-bottom: 8px;
}


}
.lphone {
  margin: 0;
  padding-top: 45px;

}

.icons {
  display: flex;
  margin: 0;
  padding-top: 45px;
}

.whatsappicon{
  margin: 0;
  padding-left: 40px;
  padding-right: 18px;
}

.telegramicon {
  margin: 0;
}
