body {
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

 /* Первый экран меню */

.main {
  margin: 0;
  background: no-repeat url(img/mainImg.png);
  width: 1440px;
  height: 839px;
  background-size: cover;
}

.menu {
  padding: 70px 97px 0 555px;

}

.menu__item {
  font: 18px/21px 'robotoblack', arial, helvetica, sans-serif;
  color: #fff;
  margin: 0 29px;
  text-decoration: none;
}

.main__title {
  margin: 0;
  font: 40px/47px 'robotoblack', arial, helvetica, sans-serif;
  color: #e1e6e9;
  margin-bottom: 11px;
  padding: 132px 130px 0 959px;
}

.main__subtitle {
  margin: 0;
  padding: 0 130px 0 1027px;
  font: 200 20px/23px 'robotobold', arial, helvetica, sans-serif;
  color: #e1e6e9;
}

.main__subtitle-2 {
  margin: 0;
  padding: 0 130px 39px 1107px;
  font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
  color: #e1e6e9;
}

.main__button {
  margin: 2px 130px 0 1110px;
  display: inline-block;
  font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
  color: #fff;
  background: #e0036f;
  padding: 16px 66px;
  border: none;
}

/* Купить, Забронировать */

.middle {
  width: 1440px;
  height: 397px;
  background-color: #e3eafe;
}

.middle__title {
  margin: 0;
  padding: 57px 413px 0 409px;
  font: 500 30px/35px 'Roboto', arial, helvetica, sans-serif;
  text-align: center;
  color: #585858;
}

.middle__price {
  padding: 10px 14px 2px 0;
  font: 900 30px/35px 'Roboto', arial, helvetica, sans-serif;
  color: #263b83;
  text-align: center;
}

.middle__button {
  margin: 0 620px 17px;
  justify-content: center;
  width: 200px;
  height: 55px;
  font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  background: #ffda45;
  box-shadow: 5px 5px 20px;
  border: none;
}

.middle__book {
  position: relative;
  margin: 0 648px 12px;
  font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
  color: #585858;
  text-decoration: none;
  transition: color .2s linear;
}

.middle__book:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffda45;
  position: absolute;
  top: 100%;
  margin: 12px auto 0;
  left: 0;
  z-index: 1;
}

/* Подать заявку */

.participant {
  margin: 0;
  width: 1440px;
  height: 327px;
  background-color: #405dbb;
  display: flex;
  justify-content: space-between;
}

.participant__image {
  width: 464px;
  height: 327px;
  padding: 0 43px;
}

.participant__image2 {
  display: none;
}

.participant__text {
  margin: 88px 0 0 130px;
  color: #fff;
}

.participant__text_title {
  font: 900 30px/35px 'Roboto', arial, helvetica, sans-serif;
  margin-bottom: 20px;
}

.participant__text_subtitle {
  margin: 0;
  font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
}

.participant__button {
  justify-content: center;
  width: 200px;
  height: 55px;
  margin: 136px 131px 133px 0;
  font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  background: #ffda45;
  box-shadow: 5px 5px 20px;
  border: none;
}

/* Спикеры, фото */

.speakers {
  margin: 0;
  width: 1440px;
  height: 952px;
  background-color: #e3eafe;
}

.speakers__title {
  margin: 0;
  padding: 89px 494px 78px;
  font: 500 30px/35px 'Roboto', arial, helvetica, sans-serif;
  color: #585858;
  text-align: center;
}

.speakers__images1 {
  display: flex;
  padding: 0 0 62px 129px;
  width: 1180px;
  justify-content: space-between;
}

.speakers__images2 {
  display: flex;
  padding-left: 129px;
  width: 1180px;
  justify-content: space-between;
}

.spekers__images1m {
  display: none;
}

/* Местоположение,Адрес,Телефоны */

.footer {
  margin: 0;
  width: 1440px;
  height: 250px;
  background-color: #0e1e71;
  display: flex;
}

.address {
  display: flex;
}

.mesto {
  margin: 0;
  font: 900 18px/21px 'Roboto', arial, helvetica, sans-serif;
  padding-top: 50px;
  color: #e1e6e9;
}

.location {
  margin: 0;
  width: 22px;
  height: 15px;
  padding: 49px 5px 180px 130px;
}

.location2 {
  display: none;
}

.phone {
  justify-content: space-between;
  margin: 0;
  padding: 49px 1px 0 707px;
  font: 900 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #e1e6e9;
}

.uphone {
  margin: 0;
  padding-bottom: 8px;
}

.lphone {
  margin: 0;
}

.icons {
  display: flex;
  margin: 0;
  padding-top: 45px;
}

.whatsappicon {
  margin: 0;
  width: 52px;
  height: 52px;
  padding: 0 18px;
}

.whatsappicon2 {
  display: none;
}

.telegramicon2 {
  display: none;
}

.telegramicon {
  width: 52px;
  height: 43px;
  margin: 0;
}

.hamburger-menu {
  display: none;
}

.slider {
  display: none;
}

/* Медиа запрос 1024px */

@media (max-width: 1024px) {
  .wrapper {
    max-width: 1024px;
  }

  .main {
    width: 1024px;
    height: 600px;
  }

  .menu {
      padding: 50px 10px 0 350px;
    }

  .menu__item {
      margin: 0 9px;
      font: 800 16px/19px 'Roboto', arial, helvetica, sans-serif;
    }

    .main__title {
      margin: 0;
      font: 900 35px/42px 'Roboto', arial, helvetica, sans-serif;
      margin-bottom: 11px;
      padding: 100px 65px 0 600px;
    }

    .main__subtitle {
      margin: 0;
      padding: 0 60px 0 680px;
      font: 900 16px/19px 'Roboto', arial, helvetica, sans-serif;
    }

    .main__subtitle-2 {
      margin: 0;
      padding: 0 0 39px 741px;
      font: 900 16px/19px 'Roboto', arial, helvetica, sans-serif;
    }

    .main__button {
      margin: 0 80px 0 723px;
      font: 900 16px/19px 'Roboto', arial, helvetica, sans-serif;
    }

    /* Купить, Забронировать  1024px*/

    .middle {
      width: 1024px;
      height: 320px;
    }

    .middle__title {
      padding: 35px 190px 0;
      font: 500 27px/32px 'Roboto', arial, helvetica, sans-serif;
    }

    .middle__price {
      padding: 0 8px 0 5px;
      font: 900 27px/32px 'Roboto', arial, helvetica, sans-serif;
      text-align: center;
      margin-bottom: 17px;
    }

    .middle__button {
      margin: 0 415px 15px;
      width: 200px;
      height: 55px;
      font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
    }

    .middle__book {
      margin: 0 439px 13px;
    }

    /* Участник, фото 1024px */

    .participant {
      margin: 0;
      width: 1024px;
      height: 270px;
    }

    .participant__text {
      margin: 0;
      padding: 90px 0 0 30px;
    }

    .participant__text_title {
      max-width: 100%;
      margin: 0;
      padding: 17px 14px 4px;
      font: 900 24px/29px 'Roboto', arial, helvetica, sans-serif;
    }

    .participant__text_subtitle {
      margin: 0;
      padding: 0 0 0 14px;
      font: 500 16px/19px 'Roboto', arial, helvetica, sans-serif;
    }

    .participant__image {
      display: none;
    }

    .participant__image2 {
      display: block;
      margin: 25px 0;
      max-width: 260px;
      max-height: 222px;
    }

    .participant__button {
      margin: 120px 90px 0 0;
      padding: 0;
      height: 50px;
    }

    /* Спикеры, фото 1024px*/

    .speakers {
      margin: 0;
      width: 1024px;
      height: 600px;
    }

    .speakers__title {
      margin: 0;
      padding: 59px 270px 50px;
      font: 500 27px/32px 'Roboto', arial, helvetica, sans-serif;
    }

    .speakers__images1 {
      display: flex;
      width: 870px;
      padding: 0 0 25px 90px;
    }

    .spkr4 {
      display: none;
    }

    .speakers__images2 {
      display: none;
    }

    .spekers__images1m {
      display: none;
    }

    .slider {
      display: flex;
      width: 66px;
      height: 20px;
      padding: 23px 478px 44px;
    }

    .slider__circle {
      width: 20px;
      height: 15px;
      border-radius: 50%;
    }

    .slider__circle_color_blue {
      margin-right: 18px;
      background: #405dbb;
    }

    .slider__circle_color_grey {
      margin-right: 18px;
      background: #c4c4c4;
    }

    .slider__circle_color_grey2 {
      background: #c4c4c4;
    }

    /* Местоположение,Адрес,Телефоны 1024px*/

    .footer {
      margin: 0;
      width: 1024px;
      height: 200px;
    }

    .mesto {
      margin: 0;
      font: 900 17px/21px 'Roboto', arial, helvetica, sans-serif;
      padding-top: 43px;
    }

    .location {
      margin: 0;
      width: 22px;
      height: 15px;
      padding: 43px 7px 35px 50px;
    }

    .location2 {
      display: none;
    }

    .phone {
      margin: 0;
      padding: 43px 0 0 420px;
      font: 900 17px/20px 'Roboto', arial, helvetica, sans-serif;
    }

    .uphone {
      margin: 0;
      padding-bottom: 8px;
    }

    .lphone {
      margin: 0;
    }

    .icons {
      display: flex;
      margin: 0;
      padding-top: 43px;
    }

    .whatsappicon {
      margin: 0;
      padding: 0 13px 0 23px;
    }

    .whatsappicon2 {
      display: none;
    }

    .telegramicon2 {
      display: none;
    }

    .telegramicon {
      width: 52px;
      height: 43px;
      margin: 0;
    }

    .hamburger-menu {
      display: none;
    }
}

/* Медиа запрос 768px */

@media (max-width: 768px) {
  .wrapper {
    max-width: 768px;
  }

  .main {
    width: 768px;
    height: 447px;
  }

  .menu {
    padding: 37px 10px 0 150px;
  }

  .menu__item {
    margin: 0 9px;
    font: 800 16px/19px 'Roboto', arial, helvetica, sans-serif;
  }

  .main__title {
    margin: 0;
    font: 900 35px/42px 'Roboto', arial, helvetica, sans-serif;
    margin-bottom: 11px;
    padding: 70px 65px 0 347px;
  }

  .main__subtitle {
    margin: 0;
    padding: 0 60px 0 432px;
    font: 900 16px/19px 'Roboto', arial, helvetica, sans-serif;
  }

  .main__subtitle-2 {
    margin: 0;
    padding: 0 0 39px 494px;
    font: 900 16px/19px 'Roboto', arial, helvetica, sans-serif;
  }

  .main__button {
    margin: 0 80px 0 474px;
    font: 900 16px/19px 'Roboto', arial, helvetica, sans-serif;
  }

    /* Купить, Забронировать 768px*/

  .middle {
    width: 768px;
    height: 312px;
  }

  .middle__title {
    padding: 35px 112px 0;
    font: 500 27px/32px 'Roboto', arial, helvetica, sans-serif;
  }

  .middle__price {
    padding: 0 16px 3px 0;
    font: 900 27px/32px 'Roboto', arial, helvetica, sans-serif;
    text-align: center;
  }

  .middle__button {
    margin: 0 274px 15px;
    width: 200px;
    height: 55px;
    font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
  }

  .middle__book {
    position: relative;
    margin: 0 308px 13px;
    font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
  }

    /* Участник, фото 768px*/

  .participant {
    margin: 0;
    width: 768px;
    height: 222px;
  }

  .participant__text {
    margin: 0;
    padding: 70px 0 0 0;
  }

  .participant__text_title {
    max-width: 100%;
    margin: 0;
    padding: 17px 24px 4px;
    font: 900 18px/21px 'Roboto', arial, helvetica, sans-serif;
  }

  .participant__text_subtitle {
    margin: 0;
    padding: 0 0 0 24px;
    font: 500 12px/15px 'Roboto', arial, helvetica, sans-serif;
  }

  .participant__image {
    display: none;
  }

  .participant__image2 {
    display: block;
    margin: 0 0 28px;
    max-width: 260px;
    max-height: 222px;
  }

  .participant__button {
    margin: 90px 20px 0 0;
    padding: 0;
    width: 180px;
    height: 50px;
  }

    /* Спикеры, фото 768px*/

  .speakers {
    margin: 0;
    width: 768px;
    height: 510px;
  }

  .speakers__title {
    margin: 0;
    padding: 59px 156px 30px;
    font: 500 27px/32px 'Roboto', arial, helvetica, sans-serif;
  }

  .speakers__images1 {
    display: flex;
    width: 580px;
    padding: 0 0 25px 90px;
  }

  .spkr3 {
    display: none;
  }

  .spkr4 {
    display: none;
  }

  .speakers__images2 {
    display: none;
  }

  .spekers__images1m {
    display: none;
  }

  .slider {
    display: flex;
    width: 66px;
    height: 20px;
    padding: 0 351px 0;
  }

  .slider__circle {
    width: 20px;
    height: 15px;
    border-radius: 50%;
  }

  .slider__circle_color_blue {
    margin-right: 18px;
    background: #405dbb;
  }

  .slider__circle_color_grey {
    margin-right: 18px;
    background: #c4c4c4;
  }

  .slider__circle_color_grey2 {
    background: #c4c4c4;
  }

    /* Местоположение,Адрес,Телефоны 768px */

  .footer {
    margin: 0;
    width: 768px;
    height: 150px;
  }

  .mesto {
    margin: 0;
    font: 900 15px/18px 'Roboto', arial, helvetica, sans-serif;
    padding-top: 40px;
  }

  .location {
    margin: 0;
    width: 22px;
    height: 15px;
    padding: 40px 7px 35px 50px;
  }

  .location2 {
    display: none;
  }

  .phone {
    margin: 0;
    padding: 40px 0 0 250px;
    font: 900 15px/18px 'Roboto', arial, helvetica, sans-serif;
  }

  .uphone {
    margin: 0;
    padding-bottom: 8px;
  }

  .lphone {
    margin: 0;
  }

  .icons {
    display: flex;
    margin: 0;
    padding-top: 35px;
  }

  .whatsappicon {
    margin: 0;
    padding: 0 13px;
  }

  .whatsappicon2 {
    display: none;
  }

  .telegramicon2 {
    display: none;
  }

  .telegramicon {
    width: 52px;
    height: 43px;
    margin: 0;
  }

  .hamburger-menu {
    display: none;
  }
}

/* Медиа запрос для 414 */

@media (max-width: 414px) {
 .wrapper {
   width: 100%;
   max-width: 414px;
 }

 .main {
   margin: 0;
   height: 334px;
   width: 414px;
 }

 .menu {
   display: none;
 }

 .main__title {
   margin: 0;
   font: 900 30px/35px 'Roboto', arial, helvetica, sans-serif;
   text-align: center;
   padding: 43px 28px 0;
 }

 .main__subtitle {
   margin: 0;
   padding: 5px 54px 0;
   font: 900 15px/18px 'Roboto', arial, helvetica, sans-serif;
   text-align: center;
 }

 .main__subtitle-2 {
   margin: 0;
   padding: 0 54px;
   font: 900 15px/18px 'Roboto', arial, helvetica, sans-serif;
   margin-bottom: 108px;
   text-align: center;
 }

 .main__button {
   margin: 0 75px;
   font: 900 15px/18px 'Roboto', arial, helvetica, sans-serif;
   padding: 14px 104px;
 }

 /* Подать заявку 414px */

 .middle {
   width: 414px;
   height: 295px;
 }

 .middle__title {
   margin: 0;
   padding: 22px 40px 0 35px;
   margin-bottom: 7px;
   font: 500 20px/23px 'Roboto', arial, helvetica, sans-serif;
 }

 .middle__price {
   margin: 0;
   padding: 0;
   margin: 0 98px 19px;
   font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
   text-align: center;
 }

 .middle__button {
   margin: 0;
   margin: 0 75px 28px;
   justify-content: center;
   padding: 11px 96px;
   width: 260px;
   height: 45px;
   font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
 }

 .middle__book {
   margin: 0 130px;
   font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
   z-index: 100;
 }

 /* Участник, фото 414px */

 .participant {
   margin: 0;
   width: 414px;
   height: 442px;
   display: block;
 }

 .participant__text {
   margin: 0;
   padding: 0;
   text-align: center;
 }

 .participant__text_title {
   max-width: 100%;
   margin: 0;
   padding: 37px 84px 4px;
   font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
 }

 .participant__text_subtitle {
   margin: 0;
   padding: 0 52px 21px;
   font: 900 10px/12px 'Roboto', arial, helvetica, sans-serif;
 }

 .participant__image {
   display: none;
 }

 .participant__image2 {
   display: block;
   margin: 0 75px 28px;
   max-width: 260px;
   max-height: 222px;
 }

 .participant__button {
   margin: 0 80px 0;
   padding: 0;
   width: 260px;
   height: 45px;
   font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
 }

/* Спикеры 414px*/

 .speakers {
   width: 414px;
   height: 471px;
 }

 .speakers__title {
   padding: 33px 45px 28px;
   font: 500 20px/23px 'Roboto', arial, helvetica, sans-serif;
   text-align: center;
 }

 .speakers__images1, .speakers__images2 {
   display: none;
 }

 .spekers__images1m {
   display: block;
   padding: 0 75px;
 }

 .slider {
   display: flex;
   width: 66px;
   height: 10px;
   padding: 23px 168px 44px;
 }

 .slider__circle {
   width: 10px;
   height: 10px;
   border-radius: 50%;
 }

 .slider__circle_color_blue {
   margin-right: 18px;
   background: #405dbb;
 }

 .slider__circle_color_grey {
   margin-right: 18px;
   background: #c4c4c4;
 }

 .slider__circle_color_grey2 {
   background: #c4c4c4;
 }

/* Адрес, телефон 414px */

 .footer {
   width: 414px;
   height: 92px;
 }

 .mesto {
   margin: 0;
   font: 900 8px/9px 'Roboto', arial, helvetica, sans-serif;
   padding-top: 16px;
 }

 .location {
   display: none;
 }

 .location2 {
   display: block;
   margin: 0;
   padding: 11px 2px 0 31px;
 }

 .phone {
   margin: 0;
   padding: 16px 0 0 130px;
   font: 900 8px/9px 'Roboto', arial, helvetica, sans-serif;
 }

 .uphone {
   margin: 0;
   padding-bottom: 3px;
 }

 .icons {
   padding-top: 15px;
 }

 .whatsappicon {
   display: none;
 }

 .whatsappicon2 {
   display: block;
   margin: 0;
   width: 20px;
   height: 20px;
   padding: 0 7px 0 9px;
 }

 .telegramicon {
   display: none;
 }

 .telegramicon2 {
   display: block;
   width: 20px;
   height: 17px;
 }

 .hamburger-menu {
   display: block;
 }

 #menu__toggle {
   opacity: 0;
 }

 /* стилизуем кнопку для гамбургер */

 .menu__btn {
   display: flex;
   align-items: center;
   position: fixed;
   top: 40px;
   right: 23px;
   width: 22px;
   height: 15px;
   cursor: pointer;
   z-index: 102;
 }

/* добавляем "гамбургер" */

 .menu__btn > span,
 .menu__btn > span::before,
 .menu__btn > span::after {
   display: block;
   position: absolute;
   width: 100%;
   height: 3px;
   background-color: #fff;
 }

 .menu__btn > span::before {
   content: '';
   top: -8px;
 }

 .menu__btn > span::after {
   content: '';
   top: 7px;
 }

 .menu__box {
   display: block;
   position: fixed;
   visibility: hidden;
   top: 0;
   right: -100%;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 150px 0;
   background-color: #405DBB;
   z-index: 101;
 }

 .menu__item {
   margin: 0;
   position: relative;
   padding: 24px;
   height: 36px;
   width: max-content;
   justify-content: center;
   display: block;
   font: 500 30px/35px 'Roboto', sans-serif, arial, helvetica;
   color: #fff;
   text-decoration: none;
 }

 #menu__toggle:checked ~ .menu__btn > span {
   transform: rotate(45deg);
 }

 #menu__toggle:checked ~ .menu__btn > span::before {
   top: 0;
   transform: rotate(0);
 }

 #menu__toggle:checked ~ .menu__btn > span::after {
   top: 0;
   transform: rotate(90deg);
 }

 #menu__toggle:checked ~ .menu__box {
   visibility: visible;
   right: 0;
 }
}

  /* Медиа запрос для 320 */

 @media (max-width: 320px) {
   .wrapper {
     width: 100%;
     max-width: 320px;
   }

   .main {
     margin: 0;
     height: 334px;
     width: 320px;
   }

   .menu {
     display: none;
   }

   .main__title {
     margin: 0;
     font: 900 30px/35px 'Roboto', arial, helvetica, sans-serif;
     text-align: center;
     padding: 43px 28px 0;
   }

   .main__subtitle {
     margin: 0;
     padding: 5px 54px 0;
     font: 900 15px/18px 'Roboto', arial, helvetica, sans-serif;
     text-align: center;
   }

   .main__subtitle-2 {
     margin: 0;
     padding: 0 54px;
     font: 900 15px/18px 'Roboto', arial, helvetica, sans-serif;
     margin-bottom: 108px;
     text-align: center;
   }

   .main__button {
     margin: 0 30px;
     font: 900 15px/18px 'Roboto', arial, helvetica, sans-serif;
     padding: 14px 104px;
   }

   /* Подать заявку 320px*/

   .middle {
     width: 320px;
     height: 295px;
   }

   .middle__title {
     margin: 0;
     padding: 22px 40px 0 35px;
     margin-bottom: 7px;
     font: 500 20px/23px 'Roboto', arial, helvetica, sans-serif;
   }

   .middle__price {
     margin: 0;
     padding: 0;
     margin: 0 98px 19px;
     font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
     text-align: center;
     z-index: 100;
   }

   .middle__button {
     margin: 0;
     margin: 0 30px 28px;
     justify-content: center;
     padding: 11px 96px;
     width: 260px;
     height: 45px;
     font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
   }

   .middle__book {
     margin: 0 87px;
     font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
   }

   /* Участник, фото 320px*/

   .participant {
     margin: 0;
     width: 320px;
     height: 442px;
     display: block;
   }

   .participant__text {
     margin: 0;
     padding: 0;
     text-align: center;
   }

   .participant__text_title {
     max-width: 100%;
     margin: 0;
     padding: 37px 84px 4px;
     font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
   }

   .participant__text_subtitle {
     margin: 0;
     padding: 0 52px 21px;
     font: 900 10px/12px 'Roboto', arial, helvetica, sans-serif;
   }

   .participant__image {
     display: none;
   }

   .participant__image2 {
     display: block;
     margin: 0 30px 28px;
     max-width: 260px;
     max-height: 222px;
   }

   .participant__button {
     margin: 0 30px 0;
     padding: 0;
     width: 260px;
     height: 45px;
     font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
   }

 /* Спикеры 320px */

   .speakers {
     width: 320px;
     height: 471px;
   }

   .speakers__title {
     padding: 33px 60px 28px;
     font: 500 20px/23px 'Roboto', arial, helvetica, sans-serif;
     text-align: center;
   }

   .speakers__images1, .speakers__images2 {
     display: none;
   }

   .spekers__images1m {
     display: block;
     padding: 0 30px;
   }

   .slider {
     display: flex;
     width: 66px;
     height: 10px;
     padding: 23px 127px 44px;
   }

   .slider__circle {
     width: 10px;
     height: 10px;
     border-radius: 50%;
   }

   .slider__circle_color_blue {
     margin-right: 18px;
     background: #405dbb;
   }

   .slider__circle_color_grey {
     margin-right: 18px;
     background: #c4c4c4;
   }

   .slider__circle_color_grey2 {
     background: #c4c4c4;
   }

 /* Адрес, телефон 320px*/

   .footer {
     width: 320px;
     height: 92px;
   }

   .mesto {
     margin: 0;
     font: 900 8px/9px 'Roboto', arial, helvetica, sans-serif;
     padding-top: 16px;
   }

   .location {
     display: none;
   }

   .location2 {
     display: block;
     margin: 0;
     padding: 11px 2px 0 31px;
   }

   .phone {
     margin: 0;
     padding: 16px 0 0 61px;
     font: 900 8px/9px 'Roboto', arial, helvetica, sans-serif;
   }

   .uphone {
     margin: 0;
     padding-bottom: 3px;
   }

   .icons {
     padding-top: 15px;
   }

   .whatsappicon {
     display: none;
   }

   .whatsappicon2 {
     display: block;
     margin: 0;
     width: 20px;
     height: 20px;
     padding: 0 5px 0 7px;
   }

   .telegramicon {
     display: none;
   }

   .telegramicon2 {
     display: block;
     width: 20px;
     height: 17px;
   }

   .hamburger-menu {
     display: block;
   }

   #menu__toggle {
     opacity: 0;
   }

   /* стилизуем кнопку для гамбургер */

   .menu__btn {
     display: flex;
     align-items: center;
     position: fixed;
     top: 40px;
     right: 23px;
     width: 22px;
     height: 15px;
     cursor: pointer;
     z-index: 102;
   }

 /* добавляем "гамбургер" */

   .menu__btn > span,
   .menu__btn > span::before,
   .menu__btn > span::after {
     display: block;
     position: absolute;
     width: 100%;
     height: 3px;
     background-color: #fff;
   }

   .menu__btn > span::before {
     content: '';
     top: -8px;
   }

   .menu__btn > span::after {
     content: '';
     top: 7px;
   }

   .menu__box {
     display: block;
     position: fixed;
     visibility: hidden;
     top: 0;
     right: -100%;
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 150px 0;
     background-color: #405DBB;
     z-index: 101;
   }

   .menu__item {
     margin: 0;
     position: relative;
     padding: 24px;
     height: 36px;
     width: max-content;
     justify-content: center;
     display: block;
     font: 500 30px/35px 'Roboto', sans-serif, arial, helvetica;
     color: #fff;
     text-decoration: none;
   }

   #menu__toggle:checked ~ .menu__btn > span {
     transform: rotate(45deg);
   }

   #menu__toggle:checked ~ .menu__btn > span::before {
     top: 0;
     transform: rotate(0);
   }

   #menu__toggle:checked ~ .menu__btn > span::after {
     top: 0;
     transform: rotate(90deg);
   }

   #menu__toggle:checked ~ .menu__box {
     visibility: visible;
     right: 0;
   }
}
