.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

 /* Первый экран меню */

.main {
  margin: 0;
  background: no-repeat url(img/mainImg.png);
  width: 1440px;
  height: 839px;
  background-size: cover;
}

.menu {
  padding: 70px 97px 0 555px;
}

.menu__item {
  font: 800 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #fff;
  margin: 0 29px;
  text-decoration: none;
}

.main__title {
  margin: 0;
  font: 900 40px/47px 'Roboto', arial, helvetica, sans-serif;
  color: #e1e6e9;
  margin-bottom: 11px;
  padding: 131px 130px 0 959px;
}

.main__subtitle {
  margin: 0;
  padding: 0 130px 0 1027px;
  font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
  color: #e1e6e9;
}

.main__subtitle-2 {
  margin: 0;
  padding: 0 130px 39px 1107px;
  padding-left: 1107px;
  font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
  color: #e1e6e9;
}

.main__button {
  margin: 0 130px 0 1110px;
  display: inline-block;
  font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
  color: #fff;
  background: #e0036f;
  padding: 16px 66px;
  border: none;
}

/* Купить, Забронировать */

.middle {
  width: 1440px;
  height: 397px;
  background-color: #e3eafe;
}

.middle__title {
  margin: 0;
  padding-top: 55px;
  font: 900 30px/35px 'Roboto', arial, helvetica, sans-serif;
  text-align: center;
}

.middle__price {
  padding: 10px 16px 3px 0;
  font: 900 30px/35px 'Roboto', arial, helvetica, sans-serif;
  color: #263b83;
  text-align: center;
}

.middle__button {
  margin: 0 620px 18px;
  justify-content: center;
  width: 200px;
  height: 55px;
  font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  background: #ffda45;
  box-shadow: 5px 5px 20px;
  border: none;
}

.middle__book {
  position: relative;
  margin: 0 647px 13px;
  font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
  color: #585858;
  text-decoration: none;
  transition: color .2s linear;
}

.middle__book:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffda45;
  position: absolute;
  top: 100%;
  margin: 13px auto 0;
  left: 0;
  z-index: 1;
}

/* Подать заявку */

.participant {
  margin: 0;
  width: 1440px;
  height: 327px;
  background-color: #405dbb;
  display: flex;
  justify-content: space-between;
}

.participant__image {
  width: 464px;
  height: 327px;
  padding: 0 43px;
}

.participant__text {
  margin: 88px 0 0 130px;
  color: #fff;
}

.participant__text_title {
  font: 900 30px/35px 'Roboto', arial, helvetica, sans-serif;
  margin-bottom: 20px;
}

.participant__text_subtitle {
  margin: 0;
  font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
}

.participant__button {
  justify-content: center;
  width: 200px;
  height: 55px;
  margin: 136px 130px 136px 0;
  font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
  color: rgb(0,0,0,1);
  background: #FFDA45;
  box-shadow: 5px 5px 20px;
  border: none;
}

.speakers {
  margin: 0;
  width: 1440px;
  height: 952px;
  background-color: #e3eafe;
}

.speakers__title {
  margin: 0;
  padding: 89px 0 78px 0;
  font: 900 30px/35px 'Roboto', arial, helvetica, sans-serif;
  text-align: center;
  color: #585858;
}

.speakers__images1 {
  display: flex;
  padding: 0 0 65px 126px;
  width: 1180px;
  justify-content: space-between;
}

.speakers__images2 {
  display: flex;
  padding-left: 126px;
  width: 1180px;
  justify-content: space-between;
}

/* Местоположение,Адрес,Телефоны */

.footer {
  margin: 0;
  width: 1440px;
  height: 250px;
  background-color: #0e1e71;
  display: flex;
}

.address {
  display: flex;
}

.mesto {
  margin: 0;
  font: 900 18px/21px 'Roboto', arial, helvetica, sans-serif;
  padding-top: 50px;
  color: #e1e6e9;
}

.location {
  margin: 0;
  width: 22px;
  height: 15px;
  padding: 48px 7px 180px 132px;
}

.phone {
  justify-content: space-between;
  margin: 0;
  padding: 48px 0 0 708px;
  font: 900 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #e1e6e9;
}

.uphone {
  margin: 0;
  padding-bottom: 8px;
}

.lphone {
  margin: 0;
}

.icons {
  display: flex;
  margin: 0;
  padding-top: 45px;
}

.whatsappicon {
  margin: 0;
  width: 52px;
  height: 52px;
  padding: 0 18px;
}

.telegramicon {
  width: 52px;
  height: 43px;
  margin: 0;
}
